<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="nav">
    <div class="menu-bar">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand text-warning" href="/"><img th:class="logo-img" alt="bee picture" th:src="@{/images/bee.png}" class="logo"> Diary Of Beekeeper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="#">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" th:href="@{/users/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" th:href="@{/}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" th:href="@{/users/register}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="#">My Beehives</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<footer th:fragment="footer">
<div class="footer-content">
<div class="footer-social">
    <p>Социални мрежи</p>
    <ul>
        <li>
            <a href="https://github.com/TheNightArcher/Diary_Of_Beekeeper" target="popup">
                <i class="fab fa-github">
                </i>
            </a>
        </li>
    </ul>
</div>
</div>
    <p class="footer-copyright">&copy; Diary of Beekeeper 2022. All rights reserved.</p>
</footer>
</html>