body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    background: linear-gradient(to right, #FCB43A, #3A3637);
    height: 100vh;
    overflow: hidden;
}

.beehives-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.beehive-container {
    min-width: 300px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.text-logo {
    text-align: center;
    color: wheat;
    margin-top: 40px;
}

.beehive-logo {
    width: 260px;
    text-align: center;
}

.beehive-container .beehive-number {
    position: relative;
    top: 34px;
    right: 153px;
    margin: 5px 5px 5px 5px;
    color: #2b69ad;
}