*{
    margin: 0;
    padding: 0;
}

main{
    min-height: calc(100vh - 60px - 40px)
}

.lang-switch{
    margin: 10px 5px;
}

.menu-bar {
    background-color: #48422e;
}

button{
    background-color: #48422e;
    color: #ffc107;
    border-block: none;
    border-color: #f0cfcf00;
}

.navbar .fa{
    color: goldenrod;
    font-size: 26px;
}
.nav-link {
    position: relative;
    font-size: 19px;
    margin: 5px;
    font-weight: 500;
    font-family: montserrat, sans-serif;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 5px solid;
    color: goldenrod;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none;
    border: none;
}


.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid white;
}

.navbar-brand img {
    width: 114px;
    margin-top: -67px;
    margin-left: -7px;
    margin-bottom: -51px;
}

a.navbar-brand {
    font-family: montserrat, sans-serif;
    font-size: 1.55rem;
    color: goldenrod;
}

.lang-switch{
    position: relative;
    top: 5px;
    left: 15px
}

.text-white {
    color: #dee2e6 !important;
    font-size: 17px;
}

@media only screen and (max-width: 1000px) {
    .nav-link:hover {
        border-bottom: none;
    }
}

footer{
    width: 100%;
    background-color: #48422e;
    border-top: 5px solid goldenrod;
    color: honeydew;
    position: relative;
    height: 100px;
    margin-top: 300px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -37px auto;
    padding: 0 50px;
}

.footer-social{
    text-align: center;
    margin: 10px;
    position: relative;
    left: 87%;
    top: 33px;
}

footer h1{
    font-size: 20px;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
}

.footer-social ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    top: -11px;
}

.footer-social ul li a i {
    font-size: 25px;
    transition: 1.5s;
}

.fab, .far {
    font-weight: 400;
}