<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register success</title>
</head>
<body>
<main>
    <div class="container text-center">
        <h3>You have signed up successfully!</h3>
        <p>Please check your email to verify your account.</p>
        <h4><a th:href="@{/users/login}">Click here to Login</a></h4>
    </div>
</main>

<footer th:replace="/fragments/common::footer"></footer>
</body>
</html>