<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForgotPassword</title>
</head>
<body>
<div class="container">
    <h3 th:text="#{registration_user(${username})}"></h3>
    <p th:text="#{forgot_password_instruction}">This is random pass</p>
    <strong th:text="${randomPassword}"></strong>
    <p th:text="#{forgot_password_mail}">Please click the link below to verify your new password:</p>
    <h3><a th:href="${link}">VERIFY</a></h3>
    <p th:text="#{registration_thanks}">Thank you,</p>
    <p th:text="#{registration_group}">The Diary Of Beekeeper</p>
</div>
</body>
</html>